
<script>
    var format = true;
    function formattingClick(){
        format = !format;
        if(!format) {
            $('#tagged').show();
            $('#text').hide();
        } else {
            $('#tagged').hide();
            $('#text').show();
        }
    }

</script>


<div class = container>
    <div id="format-button">
        <button class="btn btn-primary"  onclick="formattingClick()">Toggle formatting</button>
    </div>
    <div class="row">
        <form class="navbar-form navbar-left" action="/browse/download/{{path}}" method ="get">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
    </div>

</div>
<div class=container>
    <div id="'xmlwell" class="well well-lg">
        <div class="row" id="text">
            <h1>TEXT VIEW</h1>
            <p>{{{prettyDoc}}}</p>
        </div>
        <div class="row" id="tagged" hidden>
            <h2>XML VIEW</h2>
            <xmp>
                {{{xmlDoc}}}
            </xmp>
        </div>
    </div>
</div>




