<div class = container>
    <div id="xmlWell" class="well well-lg" >
        <h1>TEXT VIEW</h1>
            <b><p>{{{xmlDoc}}}</p></b>
    </div>

</div>

<div class = container>
    <div id="xmlWell" class="well well-lg">
        <h2>XML View</h2>
        <xmp>
        <b><p>{{{xmlDoc}}}</p></b>
        </xmp>

    </div>

</div>


