<div class=container>
    <h1>XQuery Search</h1>
    <div class="row">
        <form role="search" action="/xQuerySearch/query/" method="get" >
            <div class="form-group">
                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11" id="search">
                    <input name=searchInput type="text" class="form-control" placeholder="Search">
                </div>

            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1" id="search">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="well well-lg">
        <xmp>
            {{#each queryResult}}
                {{{this}}}
            {{/each}}
        </xmp>
    </div>
</div>

