body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.well {
  word-wrap: break-word;
  max-height: 600px;
  overflow-y:scroll;

}
#format-button{
  padding-top: 3px;
  padding-bottom: 3px;

}

#index-button {
   text-align: left;
   min-width: 100%;
   font-weight: bold;
   /*  background: #404040;

     color: #ffffff;*/

 }


#search {
    padding-top: 10px;
    padding-bottom: 10px;

}

